// app global css in Sass form
body {
  background-color: rgb(250, 250, 250);
}

// extend q-page-contianer to use max height available
html, body, #q-app, .q-layout, .q-page-container {
  height: 100%;
} 

// center with flexbox
.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// import grid
@import './grid.scss';