$break-medium: 800px;
$break-large: 1300px;
$grid-padding: .75rem;

// basic grid flexbox setup
.grid {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  padding: $grid-padding / 2;
}

// mobile first media queries
.grid {
  .grid-item {
    flex-basis: 100%;
    flex-grow: 1;
    margin: $grid-padding / 2;

    // 2 next to each other when > medium
    @media screen and (min-width: $break-medium) {
      flex-basis: calc(50% - #{$grid-padding});
      max-width: calc(50% - #{$grid-padding});
    }

    // 4 next to each other when > large
    @media screen and (min-width: $break-large) {
      flex-basis: calc(25% - #{$grid-padding});
      max-width: calc(25% - #{$grid-padding});
    }

  }
}

// grid with 2 cols
.grid.width-2 {
  .grid-item {
    
    // 2 next to each other when > medium
    @media screen and (min-width: $break-medium) {
      flex-basis: calc(50% - #{$grid-padding});
      max-width: calc(50% - #{$grid-padding});
    }

  }
}

.grid-spacer {
  height: $grid-padding;
}